WSReferences/WSHello/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://127.0.0.1"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://127.0.0.1"
		name="Hello"
		targetNamespace="http://127.0.0.1">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://127.0.0.1"
				targetNamespace="http://127.0.0.1"
				elementFormDefault="qualified">
			<xs:element name="HelloBaza">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="zapros"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HelloBazaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="HelloBazaRequestMessage">
		<part name="parameters"
				element="tns:HelloBaza"/>
	</message>
	<message name="HelloBazaResponseMessage">
		<part name="parameters"
				element="tns:HelloBazaResponse"/>
	</message>
	<portType name="HelloPortType">
		<operation name="HelloBaza">
			<input name="HelloBazaRequest"
					message="tns:HelloBazaRequestMessage"/>
			<output name="HelloBazaResponse"
					message="tns:HelloBazaResponseMessage"/>
		</operation>
	</portType>
	<binding name="HelloSoapBinding"
			type="tns:HelloPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="HelloBaza">
			<soapbind:operation style="document"
					soapAction="http://127.0.0.1#Hello:HelloBaza"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloSoap12Binding"
			type="tns:HelloPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="HelloBaza">
			<soap12bind:operation style="document"
					soapAction="http://127.0.0.1#Hello:HelloBaza"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Hello">
		<port name="HelloSoap"
				binding="tns:HelloSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://serv.indenim.info/secretbase/ws/ws1.1cws"/>
		</port>
		<port name="HelloSoap12"
				binding="tns:HelloSoap12Binding">
			<soap12bind:address location="http://serv.indenim.info/secretbase/ws/ws1.1cws"/>
		</port>
	</service>
</definitions>